    <div data-role="footer" data-theme="c" data-position="fixed" data-id="footer-sponsors" id="footer-sponsors" data-tap-toggle="false">
        <div class="ui-grid-b">
            <div class="ui-block-a" align="center"><img src="img/your-logo-here-1.png" style="max-width: 100%;"/></div>
            <div class="ui-block-b" align="center"><img src="img/sponsor_medina.jpg" style="max-width: 100%;"/></div>
			<div class="ui-block-c" align="center"><img src="img/your-logo-here-1.png" style="max-width: 100%;"/></div>
        </div>
    </div><!-- /footer -->