<div data-role="header" data-id="header"  id="header" data-tap-toggle="false" data-theme="a" data-position="fixed">
	  <br />		
		<div class="ui-grid-d">
	        <div class="ui-block-a">
	            <div align="left">
                    <a href="#home" >
                        <img src="img/icon-ios7-arrow-back-128-white.png" style="max-width:3em;" />
                    </a>
                </div>
            </div>
            <div class="ui-block-b"></div>
	        <div class="ui-block-c">
                <div align="center">
                    <a href="#home">
                        <img src="img/elixi-white.png"  style="max-width: 5em;" />
                    </a>
                </div>
            </div>
            <div class="ui-block-d"></div>
            <div class="ui-block-e">
                <div align="right">
                    <a href="#navpanel">
                        <img src="img/menu-large-white.png" style="max-width:3em;" />
                    </a>
                </div>
            </div>
	    </div>
	</div><!-- /header -->