    <div data-role="panel" id="navpanel" data-position="right" data-display="reveal" data-theme="c">
        <ul data-role="listview" data-theme="c" data-split-theme="d" data-icon="false">
            <li><a href="#home" ><img src="img/HOME-white.png" class="ui-li-icon" /><h3>Home</h3></a></li>
            <li><a href="#find-business" ><img src="img/find-business.png" class="ui-li-icon" /><h3>Find Businesses</h3></a></li>
            <li><a href="#get-ride" ><img src="img/get-ride.png" class="ui-li-icon" /><h3>Ride Partners</h3></a></li>
            <!--<li><a href="#gamification" ><img src="img/gamification.png" class="ui-li-icon" /><h3>Elixiation</h3></a></li>-->
            <li><a href="#general-information" ><img src="img/general-information.png" class="ui-li-icon" /><h3>General Information</h3></a></li>
            <li><a href="#drinks-of-the-month" ><img src="img/drink-of-the-month.png" class="ui-li-icon" /><h3>Drinks of the Month</h3></a></li>
            <li><a href="#sponsors" ><img src="img/sponsors.png" class="ui-li-icon" /><h3>Sponsors</h3></a></li>
            <li data-icon="gear" data-iconshadow="false" data-motocol-userscope="include:is_logged_in"
                class="ui-icon-nodisc ui-btn-icon-left ui-li-has-arrow ui-li-has-icon">
                <a data-motocol-include-filter="1" onclick="$UTIL.reset()" href="#"><h3>Log Out</h3></a>
                <a data-motocol-include-default href="#login"><h3>Login</h3>
                </a>
            </li>
        </ul>
    </div><!-- /panel -->