.jqm-map {
    display: table !important;
    padding: 0 !important;
    width: 100%;
}

.jqm-map .content-secondary {
    display: table-row-group;
}

.jqm-map .content-primary {
    /* Will be displayed first */
    display: table-header-group;
}

.jqm-map .ui-mini {
    margin: 0;
}

#filter-panel-full {
    padding: 15px;
}

.gm-style .gm-style-iw, .gm-style .gm-style-iw span, .gm-style .gm-style-iw label, .gm-style .gm-style-iw div {
    color: #000;
    text-shadow: none;
}

.jqm-demos .jqm-map img {
    max-width: none !important;
}

.map-title span {
    font-size: 112% !important;
    text-shadow: none !important;
}

.category-name {
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

#map-page, #map-canvas {
    width: 100%;
    height: 100%;
    padding: 0;
}