<div data-role="page" data-motocol-archetype="Page" id="account-information-archetype" data-theme="a" class="jqm-demos">
<?php include 'partials/templates/header-1.html';?>
	<div data-role="content">
        <a href="#redeem" data-role="button"><p>Ride Balance</p><h1 data-motocol-userscope=".textarea:'$',ride_balance"></h1><p><small>Redeem Now</small></p></a>
        <div class="ui-grid-a ui-responsive">
            <div class="ui-block-a">
                <a href="#get-ride" data-role="button">Get a Ride<br /><small>Ride Partners</small></a>
            </div>
            <div class="ui-block-b">
                <a href="#find-business" data-role="button">Earn Points<br /><small>Participating Locations</small></a>
            </div>
            <div class="ui-block-a">
                <a href="#history" data-role="button"><span class="display-number-of-rides"></span><br /><small>Rides Redeemed</small></a>
            </div>
            <div class="ui-block-b">
                <a href="#gamification" data-role="button">Intermediate<br /><small>Elixiation Status</small></a>
            </div>
        </div>
    </div><!-- /content -->
    <div data-role="footer" data-id="elixi-footer" data-theme="z">
        <h4>Sponsor Info Here</h4>
    </div><!-- /footer -->
</div><!-- /page -->