<div data-role="page" id="drinks-of-the-month" data-theme="c">
<?php include 'partials/templates/header-1.html';?>
<?php include 'partials/templates/navpanel.html';?>
    <div data-role="content">
        <p>Here are some awesome drinks that Elixi recommends!</p>
        <div data-role="collapsible" data-theme="c" data-content-theme="b" data-collapsed="false">
            <h2>Spirits</h2>
            <ul data-role="listview" data-theme="d" data-divider-theme="c">
                <li data-role="list-divider">Tequila</li>
                <li data-icon="false"><a href="#">
                    <img src="img/tequila-sunrise.jpg" />
                    <h3 style="white-space:normal">The Classic Tequila Sunrise</h3>
                    <p style="white-space:normal">A pretty drink with layers of orange juice and grenadine . The ratio
                        of juice to tequila is high makes it a good choice for a brunch cocktail.
                        <br/>
                        <strong>Drink Recipe:</strong>
                        <br/>
                        * 1.5 oz. Hornitos Repasado Tequila
                        <br/>
                        * 3/4 cup fresh orange juice
                        <br/>
                        * 1.5 fluid ounce) grenadine syrup
                        <br/>
                        * 1 slice orange, for garnish
                        <br/>
                        * 1 maraschino cherry for garnish Ice
                    </p>
                </a></li>
                <li data-role="list-divider">Whiskey</li>
                <li data-icon="false"><a href="#">
                    <img src="img/whiskey.jpg" />
                    <h3 style="white-space:normal">The Manhattan (Rye)</h3>
                    <p style="white-space:normal">One of the great classic cocktails, made the old fashioned way -- with
                        rye whiskey.
                        <br/>
                        <strong>Drink Recipe:</strong>
                        <br/>
                        * 1/4 cup Bulleit rye whiskey
                        <br/>
                        * 2 tablespoons sweet vermouth
                        <br/>
                        * 2 dashes Angostura bitters
                        <br/>
                        * 1 maraschino cherry
                    </p>
                </a></li>
            </ul>
        </div>
		<!-- commenting out section until we receive content
        <div data-role="collapsible" data-theme="c" data-content-theme="b">
            <h2>Beers</h2>
            <ul data-role="listview" data-theme="d" data-divider-theme="c">
                <li data-role="list-divider">IPA</li>
                <li data-icon="false"><a href="#"></a></li>
                <li data-role="list-divider">Pale Ale</li>
                <li data-icon="false"><a href="#"></a></li>
            </ul>
        </div>
		-->
        <div data-role="collapsible" data-theme="c" data-content-theme="b">
            <h2>Wines</h2>
		<p style="white-space:normal">This month Elixi is featuring wines from Brack Mountain Wine Company.
		<br />
		<br />
		Founded in 2008, Brack Mountain Wine Company is a next generation winery focused on producing hand-crafted, premium wines sourced from the best growers, offered at a fair price.
		<br />
		<br />
		<a href="http://brackmountainwine.com">brackmountainwine.com</a>
		</p>
            <ul data-role="listview" data-theme="d" data-divider-theme="c">
                <li data-role="list-divider">Chardonnay</li>
                                <li data-icon="false"><a href="#">
                    <img src="img/2012barrique_chard_sonomacoast.jpg" />
                    <h3 style="white-space:normal">Barrique</h3>
                    <p style="white-space:normal">Pale yellow hue in the glass, this wine opens with abundant layers of brioche, lemon zest and toasted hazelnut. The palate is creamy, textured with macadamia nut and traces of lemon meringue which lingers on the lengthy, mouthwatering finish. Approx. $18
                    </p>
                </a></li>
                <li data-role="list-divider">Cabernet</li>
                                                <li data-icon="false"><a href="#">
                    <img src="img/2012benchcabernetsauvignonav.jpg" />
                    <h3 style="white-space:normal">Bench</h3>
                    <p style="white-space:normal">Deep, dark purple in color, this wine offers aromas of violets, huckleberry and a touch of vanilla spice. The palate is elegantly wound with dusty tannins and a supple, velvet texture. The seamless finish, ebbs and flows with flavors of black currant, dark cocoa and forest floor. Approx. $24
                    </p>
                </a></li>
				<li data-role="list-divider">Pinot Noir</li>
                                                <li data-icon="false"><a href="#">
                    <img src="img/2012cypruspinotnoirrussianriver.jpg" />
                    <h3 style="white-space:normal">Cyprus</h3>
                    <p style="white-space:normal">This wine showcases a deep ruby red tone which draws you into its dark cherry, blackberry and subtle mint aromatics. The palate is concentrated, even firm given it’s great acidity. Flavors of bing cherry, orange zest and bergamot linger on the long finish. Approx. $30
                    </p>
                </a></li>
            </ul>
        </div>
    </div><!-- /content -->
</div><!-- /page -->