<div data-role="page" data-motocol-archetype="Page" id="f-and-b-archetype" data-theme="c" class="jqm-demos">
<?php include 'partials/templates/header-5.html';?>
<?php include 'partials/templates/navpanel.html';?>
    <div data-role="content" data-theme="b" data-motocol-schema="rchetype_elixi.merchant_locations"
         data-motocol-key="merchant_location_id" data-motocol-params="item:itemid">
        <h1 data-motocol-item=".textarea:loc_name;"></h1>
        <p data-motocol-item=".textarea:tagline"></p>
        <div align="center">
            <img src="css/images/ajax-loader.gif" style="width:100%;" data-motocol-item=".src:image"/>
        </div>
        <div align="center">
            <div data-motocol-subpage="#?subpage=rewards_by_page_subpage"
                         data-motocol-item="add-params:'the_merchant_id=',merchant_id,'&the_location_id=',location_id"></div>
            <p>Earn 2% more on your first and fifth visit!</p>
        </div>
        <div class="ui-grid-c">
            <div class="ui-block-a">
                <a data-motocol-item=".href:'tel:',phone;" href="" data-role="button"><img src="img/phone-button.png" /></a>
            </div>
            <div class="ui-block-b">
                <a data-motocol-item=".data-url:link_menu;" href="#" data-role="button" data-position-to="window" class="open-in-app-browser">
                    <img src="img/menu-button.png" style="max-width:100%;"/>
                </a>
            </div>
            <div class="ui-block-c">
                <a data-motocol-item=".data-url:link_specials" href="#" data-role="button" data-position-to="window" class="open-in-app-browser">
                    <img src="img/specials-button.png" style="max-width:100%;" />
                </a>
            </div>
            <div class="ui-block-d">
                <a data-motocol-item=".data-url:'http://maps.apple.com/?daddr=',addr1,' ',addr2,' ',city,' ',state,' ',zip" href="#" data-role="button" class="open-in-system-browser">
                    <img src="img/location-button.png" style="max-width:100%;" />
                </a>
            </div>
        </div>
        <div data-motocol-item=".textarea:html"></div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <p>
                    <span data-motocol-item=".textarea:addr1;"></span>
                    <span data-motocol-item=".textarea:addr2;"></span><br/>
                    <span data-motocol-item=".textarea:city,' ',state,' ',zip;"></span><br/>
                    <a data-motocol-item=".href:'tel:',phone; .textarea:phone;"></a><br/>
                    <a data-motocol-item=".href:'http://',link_primary; .textarea:primary_link;" href="" target="blank" data-rel="external" data-ajax="false"></a>
                </p>
            </div>
            <div class="ui-block-b"></div>
        </div>
    </div><!-- /content -->
</div><!-- /page -->