<div data-role="page" id="featured-offer" data-theme="a" class="jqm-demos">
<?php include 'partials/templates/header-1.html';?>
<?php include 'partials/templates/navpanel.html';?>
	<div data-role="content">
        <h1>Featured Offer</h1>
	</div><!-- /content -->
	<div data-role="footer" data-id="elixi-footer" data-theme="a" data-position="fixed" data-tap-toggle="false">
        <ul data-role="listview" data-dividertheme="a">
            <li data-role="list-divider" class="small-text">Featured Offers</li>
            <li data-icon="false"><a href="#featured-offer"><img src="img/featured-offer.png" /><h3>Featured Offer</h3><p>Featured Advertiser</p><p class="ui-li-aside">Ends Soon!</p><span class="ui-li-count">10% OFF!</span></a></li>
            <li data-icon="plus" data-theme="a"><a href="#more-featured">More...</a></li>
        </ul>
	</div><!-- /footer -->
</div><!-- /page -->