<div data-role="page" id="general-info-detail" data-theme="c" class="jqm-demos">
    <?php include 'partials/templates/header-5.html';?>
    <?php include 'partials/templates/navpanel.html';?>
    <div data-role="content">
        <div data-role="collapsible" data-theme="c" data-content-theme="b">
            <h2>ABOUT ELIXI</h2>
            <ul data-role="listview" data-theme="d" data-divider-theme="c">
                <li data-role="list-divider">What is Elixi?</li>
                <li data-icon="false"><a href="#">
                    <p style="white-space:normal">
                        Elixi brings together a community of businesses dedicated to supporting people having more fun
                        when going out to restaurants and bars by providing rewards for transportation and prizes for
                        commuting responsibly.
                        <br/>
                        <br/>
                        Overall it’s pretty simple, think of it as airline miles for ground transportation, with some
                        cool additional benefits of winning prizes and a program built around instilling more fun into
                        life.
                    </p>
                </a></li>
                <li data-role="list-divider">How do I join?</li>
                <li data-icon="false"><a href="#">
                    <p style="white-space:normal">
                        1. Find us at elixi.com or in the app store. We support Android or iOS (Apple) and most other
                        operating systems
                        <br/>
                        2. Create a user name and password.
                        <br/>
                        3. Enter your debit or credit cards. (must use debit card as credit card; no PIN entry)
                        <br/>
                        <strong>Bonus I:</strong> Tell us more about yourself and we’ll do our best to target the right
                        deals and specials to you. i.e. if you’re into Gregorian Chant, we may have some tickets just
                        for you…or in this case maybe not. Don’t fret we never sell your information. See our Privacy
                        Statement
                        <br/>
                        <strong>Bonus II: </strong> Tell your friends and be entered to win stuff …and help us build
                        this startup…it’s like crowdfunding, but we are not asking for money, just help us spread the
                        word….please.
                    </p>
                </a></li>
                <li data-role="list-divider">Does Elixi cost anything to join ?</li>
                <li data-icon="false"><a href="#">
                    <p style="white-space:normal">
                        Heck no
                    </p>
                </a></li>
                <li data-role="list-divider">How does it work?</li>
                <li data-icon="false"><a href="#">
                    <p style="white-space:normal">
                        Go Out, Earn Rewards, Get Home Safe….Repeat
                        <br/>
                        <br/>
                        Seriously, you pay your bill with a credit card that you registered on Elixi’s site/app at
                        participating restaurants, bars, clubs and transportation companies and receive reward credits
                        deposited into your Elixi ride account. You grow your ride account, so that after 3 or 5 nights
                        out, your transportation is most likely covered for the evening…or the next morning.
                    </p>
                </a></li>
                <li data-role="list-divider">How does it work? How do I accumulate rewards?</li>
                <li data-icon="false"><a href="#">
                    <p style="white-space:normal">
                        1. Drink and eat at member Food and Beverage establishments and receive rewards
                        <br/>
                        2. Take transportation and gain more rewards
                        <br/>
                        3. Watch your “ride account” accumulate dollars
                        <br/>
                        4. Click on the redeem button when you have taken transportation and want to use your rewards
                        and receive a credit on your credit card
                        <br/>
                        Bonus: Be on the look out for special promotion from sponsors to receive even more rewards
                        <br/>
                        Bonus II: Check out the Elixiation section for contests
                        <br/>
                    </p>
                </a></li>
                <li data-role="list-divider">
                    What are the benefits?
                </li>
                <li data-icon="false"><a href="#">
                    <p style="white-space:normal">
                        • Rewards for transportation
                        <br/>
                        • Automatic entry into contests with every purchase or action, such as referring a friend
                        <br/>
                        • Elixi VIP programs for events and activities
                        <br/>
                        • Avoiding a DUI/DWAI and all the other bad stuff that can happen
                        <br/>
                        • Feel good about creating safer roads, supporting local businesses and a new Denver startup
                        <br/>
                    </p>
                </a></li>
                <li data-role="list-divider">Is Elixi a transportation provider?</li>
                <li data-icon="false"><a href="#">
                    <p style="white-space:normal">
                        No, we are a program that facilitates funding/subsidizing your transportation. Think of us as a
                        company that facilitates airline miles, but for ground transportation, but 50,000 times better.
                    </p>
                </a></li>
            </ul>
        </div>
        <div data-role="collapsible" data-theme="c" data-content-theme="b">
            <h2 style="white-space:normal">PRIVACY I</h2>
            <ul data-role="listview" data-theme="d" data-divider-theme="c">
                <li data-role="list-divider">Why do I have to register a credit or debit card?</li>
                <li data-icon="false"><a href="#"><p style="white-space:normal">
                    Elixi uses a third party vendor that works with Visa®, MasterCard® and American Express® to
                    establish a secure connection for read-only receipts of transactions in order to view transactions
                    at business member establishments and add the rewards to your ride account.
                    <br/>
                    <br/>
                    This way Elixi works with the cards that are already in your wallet. It’s simple for you and the
                    businesses. No coupons, no punch cards, no giving your phone number to someone, no key FOBS, no
                    pulling out your phone for a QR Code scan or NFC communication, simply do what you’ve always done
                    when paying with your credit card. AND, if you registered your credit card to pay for your
                    transportation through a transportation company’s app, you simply pay through their app and we will
                    credit your account, it’s all done automatically.
                    <br/>
                </p>
                </a></li>
                <li data-role="list-divider">Is your app/site secure?</li>
                <li data-icon="false"><a href="#"><p style="white-space:normal">
                    Absolutely, Elixi uses a 3rd party vendor that requires a valid email address and enrollment of at
                    least one credit card. Your email address and credit card information will be encrypted in a
                    PCI-compliant environment.
                    <br/>
                </p>
                </a></li>
            </ul>
        </div>
    </div><!-- /content -->
</div><!-- /page -->