<div data-role="page" id="general-information" data-theme="c">
<?php include 'partials/templates/header-1.html';?>
<?php include 'partials/templates/navpanel.html';?>
	<div data-role="content">
        <ul data-role="listview" data-theme="c" data-inset="true">
            <li><a href="#general-info-detail"><h3>FAQs</h3></a></li>
			<!-- will implement ounce we have the content 
            <li><a href="#general-info-detail" ><h3>How Elixi Works</h3></a></li>
            <li><a href="#general-info-detail" ><h3>For Businesses</h3></a></li>
            <li><a href="#general-info-detail" ><h3>Impaired Driving Information</h3></a></li>
			-->
            <li><a href="#general-info-contact" ><h3>Contact Us</h3></a></li>
        </ul>
	</div><!-- /content -->
</div><!-- /page -->