<div data-role="page" id="general-info-contact" data-theme="c" class="jqm-demos">
    <?php include 'partials/templates/header-1.html';?>
    <?php include 'partials/templates/navpanel.html';?>
    <div data-role="content">
        <div data-role="collapsible" data-theme="c" data-content-theme="b" data-collapsed="false">
            <h2>Contact Us</h2>
            <ul data-role="listview" data-theme="d" data-divider-theme="c">
                <li data-icon="false"><a href="#">
                    <p style="white-space:normal">
 
Phone: 303-325-2646
<br/>
<br/>
For General Inquiries:
<br/>
info@elixi.com
 <br/>
 <br/>
For Sales or Partnerships:
<br/>
Sales@elixi.com
<br/>
<br/>
For Member Support or Technical Issues:
<br/>
support@elixi.com
                    </p>
                </a></li>
            </ul>
        </div>
    </div><!-- /content -->
</div><!-- /page -->