<div data-role="page" id="history" data-theme="a" class="jqm-demos">
<?php include 'partials/templates/header-1.html';?>
<?php include 'partials/templates/navpanel.html';?>
	<div data-role="content" class="jqm-content" data-theme="d">
        <ul data-role="listview" data-inset="true" data-theme="f">
            <li><h3>$10.23</h3><p><strong>09/27/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$15.47</h3><p><strong>09/27/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$55.06</h3><p><strong>09/27/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$32.00</h3><p><strong>09/23/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$21.24</h3><p><strong>09/22/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$36.58</h3><p><strong>09/22/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$45.00</h3><p><strong>09/15/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$10.15</h3><p><strong>09/06/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$38.80</h3><p><strong>09/04/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$15.42</h3><p><strong>08/27/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
            <li><h3>$12.21</h3><p><strong>08/27/2014</strong></p><p>Metro Taxi - 981686181846481</p></li>
        </ul>
	</div><!-- /content -->
	<div data-role="footer" data-id="elixi-footer" data-theme="a">
        <h4>Sponsor Info Here</h4>
	</div><!-- /footer -->
</div><!-- /page -->