<!-- Start of linkable page -->
<div data-role="page" id="linkable" data-theme="b" class="jqm-demos">

<?php include 'partials/header-1.html';?>

	<div data-role="content" class="jqm-content">
        <p>This should display the page at https://www.mylinkables.com in a child browser.</p>
	</div><!-- /content -->

	<div data-role="footer" data-id="elixi-footer" data-theme="a" data-position="fixed" data-tap-toggle="false">
		<div class="right">
            <a href="#cc-link" data-role="button" data-icon="plus" data-iconpos="right" data-rel="back">Done</a>
        </div>
	</div><!-- /footer -->
</div><!-- /page -->