<div data-role="page" id="sponsors-detail" data-theme="d" class="jqm-demos">
<?php include 'partials/templates/header-1.html';?>
<?php include 'partials/templates/navpanel.html';?>
	<div data-role="content" class="jqm-content">
        <div class="ui-body ui-body-e ui-corner-all" style="background-image:url('img/default-company.png');background-size:cover;">
            <h1 class="dark-shadow">Sponsor Name</h1>
            <p class="dark-shadow"><strong>Sponsor Tagline</strong></p>
            <a href="#" data-role="button" data-inline="true">1,000 Rides Given</a>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a">
                <p>Address 1<br />Address 2<br />City, State, Zip Code</p>
                <p><a href="tel:3035551212">(303) 555-1212</a><br /><a href="http://www.elixi.com" target="blank" data-rel="external" data-ajax="false">www.website.com</a></p>
            </div>
        </div>
        <p>Sponsor Description</p>
	</div><!-- /content -->
</div><!-- /page -->